/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#fff;
  color:#333;
  font-family:verdana,arial,helvetica,sans-serif;
  font-size:13px;
  line-height:18px;
  margin:33px;
}

p,ul,td{
  margin:33px;
}

#notice{
  color:green;
}

th{
  padding:1px 1px 5px;
}

td{
  padding:1px 5px 7px;
}

h1{
  margin:17.42px 0;
}

#notice{
  color:green;
}

h2{
  margin:16.185px 0;
}

a{
  color:#333;
}

#error_explanation{
  width:468px;
  margin-bottom:20px;
  border:2px solid red;
  padding:7px 7px 0;
  background-color:#f0f0f0;
}

#error_explanation h2{
  font-size:12px;
  margin:-7px -7px 0;
  padding:5px 5px 5px 15px;
  background-color:#c00;
  color:#fff;
}

ul{
  margin:33px;
  padding:0 0 0 40px;
}

li{
  list-style:square;
  font-size:12px;
}

.field_text_errors{
  padding:2px;
  display:table;
  background-color:red;
}

.field_box_errors{
  padding:2px;
  display:table;
  background-color:red;
}

.field{
  margin-bottom:10px;
}

label{
  display:block;
}

#book_title{
  padding:1px 2px;
}

#book_body{
  padding:2px;
}

input[type=submit]{
  padding:1px 6px;
  margin-bottom:10px;
}
